@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
    visibility: visible;
  }

  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

.environmentPreview-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header-container {
    width: 100%;
    height: 30%;
    display: flex;
    .titles-container {
      width: 80%;
      height: 100%;
      padding: 7%;
      display: flex;
      flex-direction: column;
      .title {
        color: #aaaaaa;
        font-size: 1.05em;
        font-weight: 500;
      }
      .metadata-container {
        display: flex;
        width: 100%;
        height: 35%;
        align-items: center;

        .metadataIcon {
          width: 10%;
          height: 40%;
          padding: 0 2% 0 0;
          fill: #c9c9c9;
        }
        .metadata {
          color: #c9c9c9;
          font-size: 0.75em;
          font-weight: 400;
        }
      }
    }
    .action-container {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5%;
      .action-dropdown {
        position: absolute;
        z-index: 2;
        width: 100px;
        padding: 2.5% 0 2.5% 0;
        box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.08);
        background-color: #fafcfe;
        height: 115px;
        top: 17%;
        left: 48%;
        border-radius: 0.2em;
        right: 0;
        transition: all 0.5s ease-in;
        animation: fadeIn 0.3s ease-out;
        &.disappear {
          animation: fadeOut 0.3s forwards;
          transition: all 0.5s ease-in;
        }
        &::before {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          bottom: 100%;
          right: 16px;
          border-width: 0 7px 7px 7px;
          border-style: solid;
          border-color: #fafcfe transparent;
        }
      }
      .threeDots {
        width: 65%;
        height: 40%;
        fill: #aaaaaa;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        &:hover {
          fill: #fcd062;
        }
      }
    }
  }
  .content-container {
    width: 100%;
    height: 53%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    width: 100%;
    height: 18%;
    display: flex;
    border-top: solid 1px #f4f4f4;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  }
}
